
[Unit]
Description=Your Custom Service
[Service]
ExecStart=telegraf --config /telegraf_conf/remote_telegraf.conf
Restart=always
User=root
Group=root
[Install]
WantedBy=multi-user.target