
[Unit]
Description=Your Custom Service
[Service]
ExecStart=mosquitto -c /conf/mosquitto.conf
Restart=always
User=root
Group=root
[Install]
WantedBy=multi-user.target