
[Unit]
Description=Your Custom Service
[Service]
ExecStart=python3 /scripts/start.py
Restart=always
User=root
Group=root
[Install]
WantedBy=multi-user.target